<div class="container">
    <div class="row">
        <form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
            <h3>Edit User Details</h3>
            <div class="form-group">
                <label>First Name: </label>
                <input type="text" class="form-control" formControlName="fname" required name="fname"
                    [ngClass]="{'is-invalid': isSubmitted && f.fname.errors}" placeholder="First Name is required">
                <div *ngIf="isSubmitted && f.fname.errors?.required" class="invalid-feedback">First name is required
                </div>
            </div><br>

            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" class="form-control" formControlName="lname" required name="lname"
                    [ngClass]="{'is-invalid' : isSubmitted && f.lname.errors}" placeholder="Last Name is required">
                <div *ngIf="isSubmitted && f.lname.errors?.required" class="invalid-feedback">Last Name is required
                </div>
            </div><br>

            <div class="form-group">
                <label>Address: </label>
                <input type="text" class="form-control" formControlName="address" required name="address"
                    [ngClass]="{'is-invalid': isSubmitted && f.address.errors}" placeholder="Address is required">
                <div *ngIf="isSubmitted && f.address.errors?.required" class="invalid-feedback">Address is required
                </div>
            </div><br>

            <div class="form-group">
                <label>Phone Number: </label>
                <input type="text" class="form-control" formControlName="pnumber" required name="pnumber"
                    [ngClass]="{'is-invalid': isSubmitted && f.pnumber.errors}" placeholder="Phone Number is required">
                <div *ngIf="isSubmitted && f.pnumber.errors?.required" class="invalid-feedback">Phone Number is required
                </div>
            </div><br>

            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" formControlName="email" required name="email"
                    [ngClass]="{'is-invalid': isSubmitted && f.email.errors}" placeholder="Email is required">
                <div *ngIf="isSubmitted && f.email.errors?.required" class="invalid-feedback">Email is required</div>
                <div *ngIf="isSubmitted && f.email.errors?.pattern" class="invalid-feedback">Please Enter valid email.
                </div>
            </div><br>

            <button class="btn btn-info" [disabled]="myForm.invalid">Submit</button>
        </form>
    </div>
</div>